#cloud-config
users:
  - name: {{ ansible_user }}
    groups: wheel
    lock_passwd: false
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh-authorized-keys:
      - "{{ lookup('file', '../private/{{ ansible_user }}_key.pub') }}"
  - name: root
    lock_passwd: false
    password: {{ root_password }}
