[Interface]
PrivateKey = {{ wgprivatekey.stdout }}
Address = {{ hostvars['vars']['wireguard']['hosts'][inventory_hostname]['address'] }}
SaveConfig = true
ListenPort = {{ hostvars['vars']['wireguard']['hosts'][inventory_hostname]['listenport'] }}
